<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYRIC SYNC</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/fonts.css" rel="stylesheet">
    <link href="../static/css/media.css" rel="stylesheet">
    <link rel="web icon" type="png" href="../static/images/03.png">
</head>
<body>
    <header>
        <div id="title">
            <h1>LYRIC SYNC</h1>
            <h1></h1>
        </div>

        <ul>
            <a href="./index"><li>Inicio</li></a>
            <a href="./servicos"><li>Serviços</li></a>
            <a href="./contato"><li>Contato</li></a>
            <a href="./sobre" id="sobre-btn"><li>Sobre</li></a>
        </ul>
    </header>

    <main>
        
        <aside>
            <h2><span>Conheça o Projeto</span></h2>
            <h2>Lyric Sync</h2>
            <p>O projeto Lycric Siync surgiu de uma ideia que acredita em uma abordagem inclusiva para tornar o aprendizado da língua inglesa uma experiência diferenciada e acessível. Nosso objetivo é facilitar a compreensão de forma simples, proporcionando uma experiência fluida e pratica.
            </p>
            <p>Em nossa plataforma, oferecemos a transcrição de vídeos e a tradução de arquivos em formato PDF. Nada melhor do que compreender e aprender a letra daquela música que não sai da sua cabeça, ou entender o conteúdo daquele vídeo favorito, além de conseguir ler documentos importantes de forma simples e prática.
            </p>
            <h3>COMO FUNCIONA?</h3>
            <p>Aqui nós transcrevemos o seu videoclipe favorito, basta fazer o upload do vídeo com o link e nossa plataforma, que ela automaticamente realizará a transcrição de seu conteúdo seja em inglês ou em português. </p>
            <p>Para os arquivos no formato PDF, oferecemos a tradução automática para a lingua portuguesa em seu conteúdo. Tudo isso acontece de forma, rápida e fácil.</p>
        </aside>
        <article>
            <br><br><br>
            <img style="width: 430px;" src="../static/images/tete.png" alt="img index">
        </article>
    </main>
    
</body>
</html>