<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/fonts.css" rel="stylesheet">
    <link href="../static/css/media.css" rel="stylesheet">
    <link rel="web icon" type="png" href="../static/images/03.png">
    <title>Sobre</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>LYRIC SYNC</h1>
        </div>

        <ul>
            <a href="./index"><li>Inicio</li></a>
            <a href="./servicos"><li>Serviços</li></a>
            <a href="./contato"><li>Contato</li></a>
            <a href="./sobre" id="sobre-btn"><li>Sobre</li></a>
        </ul>
    </header>
    <div class="container">
        <div class="left" style="padding-left: -50%;">
            <img style="width: 250px;" src="../static/images/perfil.png" alt="img perfil">
        </div>
        <div style="margin-right: 90px;">
            <h2><span>Olá me chamo Aline</span></h2>
            <p>Apaixonada pelo mundo tecnológico, sou estudante de programação voltada para a área de Fullstrack, mas eu tenho o Back-End como uma de minhas paixões. Desde 2022 estou no curso Análise e Desenvolvimento de Sistemas, almejando e me dedicando para conquistar uma oportunidade para minha tão sonhada vaga, para que assim eu consiga colocar em prática todo o meu conhecimento adquirido desde então.</p>
            <p>Trabalhar e dar vida à este projeto foi algo animador para mim, pois tenho visão de melhoria e crescimento para ele, além de me proporcionar trabalhar com diversas tecnologias e me fazer praticar muitos tópicos do qual tenho interesse, esse é um projeto do qual eu acredito e vejo crescendo em um futuro próximo.</p>
        </div>
    </div>

        <div style="float: left;" >
            <br><br><br><br>
            <h2><span>Plano de melhorias para o projeto:</span></h2>
            <h3>1. Implementação de um Chatbot Aprimorado para Resolução de Dúvidas e Coleta de Feedbacks:</h3>
            <p>• Desenvolver um chatbot mais sofisticado que não apenas responda perguntas comuns, mas também compreenda comandos complexos e contextos variados.</p>
            <p>• Integração de inteligência artificial</p>
            <h3>2. Expansão do Projeto para Suportar Mais Idiomas:</h3>
            <p>• Adição de suporte multilíngue para atender a uma audiência global, incluindo línguas amplamente faladas e relevantes.</p>
            <h3>3. Aprimoramento no Tempo de Resposta dos Serviços:</h3>
            <p>• Otimização da infraestrutura e da arquitetura do sistema para reduzir o tempo de resposta e aumentar a capacidade de processamento.</p>
            <h3>4. Expansão do Suporte a Diferentes Tipos de Documentos e Exportação em PDF:</h3>
            <p>• Integração de bibliotecas de processamento de linguagem natural para suportar uma variedade mais ampla de formatos de documentos, incluindo PDF, Word, Excel, entre outros.</p>
            <p>• Implementação de funcionalidades de exportação para PDF, permitindo que os usuários salvem transcrições e traduções em um formato acessível e de fácil compartilhamento.</p>
        </div>
    </div>
</body>
</html>